<div class="row">
    <h1>{{ final.title }}</h1>
    <p>{{ final.message }}</p>
    <p>Great game, you can try to beat your own score or try the other modes of the game.</p>
    <p>If you like the game you can share it or you can contribute in GitHub.</p>
    
    <br /><br />
    
    <a href="#/play" type="button" class="btn btn-lg btn-default">Change mode</a>
    <button type="button" class="btn btn-lg btn-success" ng-click="startGame()">Play again</button>
    
    <br /><br />
    
    <div ng-include src="'partials/share.html'"></div>
    
</div>