<div class="jumbotron col-centered">
  <h1>Easy-math</h1>
  <br />
  <div ng-include src="'partials/preview.html'"></div>
  <br />
  <p>
      Do you think that you can solve problems like this?
  </p>
  <p class="hidden-xs">
    <a class="btn btn-default btn-lg" role="button" ng-click="learnMoreScroll()">Learn more</a>
    <a href="#/play" class="btn btn-primary btn-lg" role="button">Play now</a>
  </p>
  <p class="vissible-xs">
    <a class="btn btn-default" role="button" ng-click="learnMoreScroll()">Learn more</a>
    <a href="#/play" class="btn btn-primary" role="button">Play now</a>
  </p>
</div>

<div id="more-info" class="row">
    <div class="col-sm-4">
        <h3>What is Easy-math?</h3>
        <p class="text-justify">
            It's a simple game that challenges your brain and speed of reaction with a simple math problems.
            The game has a few different modes for playing and it allows you to play different levels and difficulties.
        </p>
		<img src="images/simple.png" class="img img-responsive center-block" />
    </div>
    <div class="col-sm-4">
        <h3>What gives me?</h3>
        <p class="text-justify">
            Easy-math is simple game but can be used for big things, not only for entertainment and fun.
            This game is trainning your skills and developping your brain speed and reaction so don't forget
            to play here a few times a day to keep you in shape. <br />
        </p>
		<img src="images/head.png" class="img img-responsive center-block" />
    </div>
    <div class="col-sm-4">
        <h3>What it's not?</h3>
        <p class="text-justify">
            Easy-math is not a proffesional problem solving software. It's just a little game that helps you to develop 
            your brain skills and entertains you.
        </p>
		<img src="images/question.png" class="img img-responsive center-block" />
    </div>
</div>
