

<div class="container">
    
    <!-- Messages are displayied here -->
    <div class="row" ng-show="gameStatus >= 2">
      <div class="col-md-4 col-centered">
        <h3>Your score</h3>
        <div class="well score">{{ score }}</div>
      </div>
    </div>
    
    <!-- Game start -->
    <div class="row" ng-show="gameStatus === 1" >
      <div class="col-md-6 col-centered">
        <div class="panel panel-success">
          <div class="panel-heading">Let's play easy-math</div>
          <div class="panel-body">

            <h4>Goal</h4>
            <p class="text-justify">
              The goal in this game is to correctly compare as much more numbers as you can and to achieve the highest possible score. Every correct answer gives you +10 points. for                   your score which is displayed on the top of the screen.
            </p>
            
            <br />
            
            <button type="button" class="btn btn-success btn-lg" ng-click="startGame()">START</button>
              
            <br /><br />
              
              
            <h4>Examples</h4>
            <p class="text-justify">
                Here are some examples which can help you to understand the goal of the game.<br />
                If you have any troubles playing the game you can read the `How to play` anytime when you want, it's placed at the bottom of the page.
            </p>    
            
            <div class="row examples">
              
            
              <!-- Correct answers -->
              <div class="col-xs-12 col-sm-4">
                <div class="col-centered" style="width: 100px;">
                  <div class="result question true"> 21 </div>
                  <div class="result answer"><span class="glyphicon glyphicon-chevron-left"></span></div>
                  <div class="result question">27</div>
                  <span class="label label-success">correct answer</span>
                </div>
              </div>
                
              <div class="col-xs-12 col-sm-4">
                <div class="col-centered" style="width: 100px;">
                  <div class="result question true"> 16 </div>
                  <div class="result answer"><span class="glyphicon glyphicon-chevron-right"></span></div>
                  <div class="result question">13</div>
                  <span class="label label-success">correct answer</span>
                </div>
              </div>
            
              <div class="col-xs-12 col-sm-4">
                <div class="col-centered" style="width: 120px;">
                  <div class="result question true"> 3 </div>
                  <div class="result answer"><span class="glyphicon glyphicon-chevron-left"></span></div>
                  <div class="result answer"><span class="glyphicon glyphicon-chevron-right"></span></div>
                  <div class="result question true">3</div>
                  <span class="label label-success">correct answer</span>
                </div>
              </div>
              
              <br /><br /><br />
            
              <!-- Wrong answers -->
              <div class="col-xs-12 col-sm-4">
                <div class="col-centered" style="width: 100px;">
                  <div class="result question false"> 21 </div>
                  <div class="result answer"><span class="glyphicon glyphicon-chevron-right"></span></div>
                  <div class="result question">27</div>
                  <span class="label label-danger">wrong answer</span>
                </div>
              </div>
                
              <div class="col-xs-12 col-sm-4">
                <div class="col-centered" style="width: 100px;">
                  <div class="result question false"> 16 </div>
                  <div class="result answer"><span class="glyphicon glyphicon-chevron-left"></span></div>
                  <div class="result question">13</div>
                  <span class="label label-danger">wrong answer</span>
                </div>
              </div>
            
              <div class="col-xs-12 col-sm-4">
                <div class="col-centered" style="width: 120px;">
                  <div class="result question false"> 3 </div>
                  <div class="result answer"> &nbsp; &nbsp; <span class="glyphicon glyphicon-flag"></span> &nbsp; </div>
                  <div class="result question false">21</div>
                  <span class="label label-danger">wrong answer</span>
                </div>
              </div>
                
            </div>
              
            <br />
            
            
          </div>
        </div>
      </div>
    </div>
    
    <div class="row" ng-show="gameStatus === 2">
        <div class="col-xs-12 col-sm-4 col-lg-5">
            <div id="option1" class="question align-right">{{ currentQuestion.option1 }}</div>
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-2">
            <div class="answer">
                <button type="button" class="btn btn-primary btn-lg btn-answer" ng-click="setAnswer('<')"><span class="glyphicon glyphicon-chevron-left"></span></button>
                <!--<button type="button" class="btn btn-lg btn-answer" disabled="disabled"><span class="glyphicon glyphicon-ok"></span></button> <!-- glyphicon-remove -->
                <button type="button" class="btn btn-primary btn-lg btn-answer" ng-click="setAnswer('>')"><span class="glyphicon glyphicon-chevron-right"></span></button>
                
                <br /><br />
                <button type="button" class="btn btn-sm" ng-click="skipQuestion()"><span class="glyphicon glyphicon-remove"></span> Skip question</button>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-5">
            <div id="option2" class="questionalign-left">{{ currentQuestion.option2 }}</div>
        </div>
    </div>
    
    <!-- Final score and resume -->
    <div class="row" ng-show="gameStatus === 3">
        <h1>{{ final.title }}</h1>
        <p>{{ final.message }}</p>
        
        <h3>Share your result</h3>
        
        <div class="col-xs-12 col-sm-4 col-centered">
            <div class="col-xs-12 col-sm-4">
                <!-- facebook -->
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=563722723720829";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-share-button" data-href="http://valkirilov.github.io/easy-math" data-type="button_count"></div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <!-- twitter -->
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="Checkout the new easy-math game" data-size="large" data-hashtags="easy-math">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id))              {js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            <div class="col-xs-12 col-sm-4">
                <!-- google+ -->
                <!-- Place this tag where you want the +1 button to render. -->
                <div class="g-plusone" data-href="http://valkirilov.github.io/easy-math"></div>
            </div>
        </div>
        
    </div>
    
    <div class="row" ng-show="gameStatus >= 2">
      <br /><br /><br />
      <h3>Your answers</h3>
        
      <!-- Status bar -->  
      <div class="col-md-6 col-centered">
        <div class="progress active">
          <div ng-repeat="question in questions | filterAnswered" class="progress-bar {{ question.style }}" style="width: {{ 100 / questions.length }}%">
            <span ng-show="question.isTrue">+10</span>
          </div>
        </div>
      </div>
    
      <!-- Answered questions -->
      <div class="col-md-6 col-centered">
      <ul class="results">
        <li ng-repeat="question in questions | filterAnswered">
            <div class="result question {{ question.isTrue }}">{{ question.option1 }} </div>
            <div class="result answer">
                <span ng-show="question.answer == '?'" class="glyphicon glyphicon-flag"></span>
                <span ng-show="question.answer != '?'" class="glyphicon glyphicon-chevron-{{ (question.answer == '<') ? 'left' : 'right' }}"></span>
            </div>
            <div class="result question {{ question.isTrue }}">{{ question.option2 }}</div>	
        </li>
      </ul>
      </div>
        
      <br /><br /><br />
    </div>


    <!-- How to play -->
    <div class="row">
      <div class="col-md-6 col-centered">
        <div class="panel panel-info">
          <div class="panel-heading">How to play?</div>
          <div class="panel-body text-left">
            In this mode you have to compare two numbers and press the correct button. <br />
            To enter your answer use the buttons 
              <button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-chevron-left"></span></button> and
              <button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-chevron-right"></span></button> above. <br />
            <br />
            You can also use the arrow keys from your keyboard. <br />
            <i>(left arrow for <span class="glyphicon glyphicon-chevron-left"></span> 
            and right arrow for <span class="glyphicon glyphicon-chevron-right"></span>)</i> <br />
          </div>
        </div>
      </div>
    </div>

</div>
