<div class="row">
  <div class="col-xs-12 col-md-6 col-centered">
    <h1>Highscores</h1>
    
    <table class="table table-striped">
        <tr>
            <td><strong>#</strong></td>
            <td><strong>Name</strong></td>
            <td><strong>Score</strong></td>
        </tr>

        <tr ng-repeat="result in highscores track by $index" class="{{ (currentScore == result[0]) ? 'info' : '' }}">
            <td><strong>{{ $index+1 }}</strong></td>
            <td class="text-left">{{ result[1] }}</td>
            <td>{{ result[2] }}</td>
        </tr>
    </table>
      
  </div>
  <br />
</div>