
<div class="container">
    <div class="row">
        <h1>Choose your mode</h1>
        <br />
        <div class="col-sm-4">
            
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Classic mode</h3>
            </div>
            <div class="panel-body">
                
              <img src="images/mode-classic.png" class="img img-responsive img-thumbnail">
              <p class="text-justify"><br />In thes mode you have to reach score as high as you can in 1.30 minutes but you have to know that the mistakes will be charged with -1 second and -5 points.</p>
                

              <a href="#/classic" type="button" class="btn btn-lg btn-primary btn-block">Play now</a>
              <a href="#/highscores" type="button" class="btn btn-lg btn-default btn-block">High Scores</a>
              
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Timelimit mode</h3>
            </div>
            <div class="panel-body">
                
              <img src="images/mode-timelimit.png" class="img img-responsive img-thumbnail">
              <p class="text-justify"><br />In this mode you have 30 seconds deadline to make your score but there is a +0.5 second bonus for the right answers and a fee of -1 second for your mistakes.</p>
              
              <a href="#/timelimit" type="button" class="btn btn-lg btn-primary btn-block">Play now</a>
              <a href="#/highscores" type="button" class="btn btn-lg btn-default btn-block">High Scores</a>
              
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">More modes</h3>
            </div>
            <div class="panel-body">
                
              <img src="images/mode-soon.png" class="img img-responsive img-thumbnail">
              <p class="text-justify"><br />The game still has only two modes but wе will be happy to receive ideas and proposals for new ones. If you like the game we will continue to develop it.</p>
                
              <br />
              <a href="#/timelimit" type="button" class="btn btn-lg btn-primary btn-block" disabled="disabled">Play now</a>
              <a href="#" type="button" class="btn btn-lg btn-default btn-block" disabled="disabled">Learn more</a>
            </div>
          </div>
        </div>
    </div>
</div>

