<div class="row" >
    <div class="col-xs-3 col-sm-4 col-lg-5">
        <div id="option1" class="question pull-right">{{ currentQuestion.option1 }}</div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-2">
        <div class="answer">
            <button type="button" class="btn btn-primary btn-lg btn-answer" ng-click="setAnswer('<')"><span class="glyphicon glyphicon-chevron-left"></span></button>
            <button type="button" class="btn btn-primary btn-lg btn-answer" ng-click="setAnswer('>')"><span class="glyphicon glyphicon-chevron-right"></span></button>
            
            <br /><br />
            <button type="button" class="btn btn-sm" ng-click="skipQuestion()"><span class="glyphicon glyphicon-remove"></span> Skip question</button>
        </div>
    </div>
    <div class="col-xs-3 col-sm-4 col-lg-5">
        <div id="option2" class="question pull-left">{{ currentQuestion.option2 }}</div>
    </div>
</div>