<!-- Timer is displayd here -->
<div class="row">
  <div class="col-xs-12 col-md-4 col-centered">
    <h3>Remaining time</h3>
    <div class="row timer {{ (game.time.getSeconds() <= 10 && game.time.getMinutes() == 0) ? (( game.time.getSeconds() <= 3) ? 'shock' : 'critic') : '' }}">
        <div class="col-xs-3 minutes">{{ game.time.getMinutes() }}</div>
        <div class="delimer">:</div>
        <div class="col-xs-3 seconds">{{ game.time.getSeconds() }}</div>
        <div class="delimer">:</div>
        <div class="col-xs-4 milisec">{{ game.time.getMilliseconds() }}</div>
    </div>
  </div>
  <br />
</div>