

<div class="container">
    
    <div ng-include src="'partials/music.html'" class="pull-right"></div>
    <div ng-include src="'partials/time.html'" ng-show="gameStatus === 2"></div>
    <div ng-include src="'partials/score.html'" ng-show="gameStatus === 3"></div>
    
    <!-- Game start -->
    <div ng-include src="'partials/instructions/timelimit.html'" ng-show="gameStatus === 1"></div>
    
    <div class="row" ng-show="gameStatus === 2">
        <div class="col-xs-3 col-sm-4 col-lg-5">
            <div id="option1" class="question pull-right">{{ currentQuestion.option1 }}</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2">
            <div class="answer">
                <button type="button" class="btn btn-primary btn-lg btn-answer" ng-click="setAnswer('<')"><span class="glyphicon glyphicon-chevron-left"></span></button>
                <button type="button" class="btn btn-primary btn-lg btn-answer" ng-click="setAnswer('>')"><span class="glyphicon glyphicon-chevron-right"></span></button>
                
                <br /><br />
                <button type="button" class="btn btn-sm" ng-click="skipQuestion()"><span class="glyphicon glyphicon-remove"></span> Skip question</button>
            </div>
        </div>
        <div class="col-xs-3 col-sm-4 col-lg-5">
            <div id="option2" class="question pull-left">{{ currentQuestion.option2 }}</div>
        </div>
    </div>
    
    <!-- Final score and resume -->
    <div ng-include src="'partials/final.html'" ng-show="gameStatus === 3"></div>
    
    <!-- Answered questions -->
    <div ng-include src="'partials/answered.html'" ng-show="gameStatus >= 2"></div>

    <!-- How to play -->
    <div ng-include src="'partials/how-to-play/timelimit.html'"></div>

</div>
