<!-- How to play -->
<div class="row">
  <div class="col-md-6 col-centered">
    <div class="panel panel-info">
      <div class="panel-heading">How to play?</div>
      <div class="panel-body text-left">
        In this mode you have to compare two numbers and press the correct button. <br />
        To enter your answer use the buttons 
          <button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-chevron-left"></span></button> and
          <button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-chevron-right"></span></button> above. <br />
        <br />
        You can also use the arrow keys from your keyboard. <br />
        <i>(left arrow for <span class="glyphicon glyphicon-chevron-left"></span> 
        and right arrow for <span class="glyphicon glyphicon-chevron-right"></span>)</i> <br />
      </div>
    </div>
  </div>
</div>
